@import 'variables';

$sizebar-size: 280px;
[v-cloak] {
  display: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
}
.container {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  transition: $swift-ease-out;
  @media (min-width: 1281px) {
    padding-left: $sizebar-size;
  }
}
.main-sidebar.md-sidenav {
  .md-sidenav-content {
    width: $sizebar-size;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    @media (min-width: 1281px) {
      top: 0;
      pointer-events: auto;
      transform: translate3d(0, 0, 0);
      box-shadow: $material-shadow-2dp;
    }
  }
  .md-backdrop {
    @media (min-width: 1281px) {
      opacity: 0;
      pointer-events: none;
    }
  }
  .md-toolbar {
    min-height: 172px;
    border-bottom: 1px solid rgba(#000, .12);
  }
  .main-sidebar-links {
    overflow: auto;
    flex: 1;
    .md-inset .md-list-item-container {
      padding-left: 36px;
    }
    .md-list-item-container {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
.main-content {
  padding: 16px;
  flex: 1;
  overflow: auto;
  background-color: #fff;
  transform: translate3D(0, 0, 0);
  transition: $swift-ease-out;
  transition-delay: .2s;
}